<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>contact</title>
</head>
<body>


   <div th:insert="Header.html"></div>

  <div>
  <form action="/contact" method="post">
		<div class="row p-2 text-center">
			<div class="col-2">To Email</div>
			<div class="col-4">
				<input type="text" name="toEmail" class="form-control">
			</div>
		</div>

		<div class="row p-2 text-center">
			<div class="col-2">Subject</div>
			<div class="col-4">
				<input type="text" name="subject" class="form-control">
			</div>
		</div>

		<div class="row p-2 text-center">
			<div class="col-2">Message</div>
			<div class="col-4">
                <textarea name="message" rows="60" cols="6"></textarea>
				
			</div>
		</div>
		
		<div class="row p-2 text-center">
			<div class="col-2">Subject</div>
			<div class="col-4">
				<input type="submit" name="send" class="btn btn-success">
			</div>
		</div>

    </form>

	</div>


</body>
</html>