<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>employee</title>
</head>
<body>
<div th:insert="Header.html"></div>
     <div class="container-fluid">
          
           <div class="card">
           
               <div class="card-header text-center text-white bg-primary">
                   <h3> Edit Employee Form</h3>
               </div>
               
               <div class="card-body">
               
               <form action="/update" method="post" th:object="${emodel}">
                   <div class="row p-2">
                     <div class="col-4">FirstName</div>
                      <div class="col-6">
                        <input type="text" th:field="*{fname}" class="form-control">
                      </div>
                     </div>   
               
               <div class="row p-2">
                     <div class="col-4">LastName</div>
                      <div class="col-6">
                        <input type="text" th:field="*{lname}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Gender</div>
                      <div class="col-6">
                        <input type="radio" th:field="*{gender}" value="male"> Male
                        <input type="radio" th:field="*{gender}" value="female"> Female
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Dob</div>
                      <div class="col-6">
                        <input type="date" th:field="*{dob}" class="form-control">
                      </div>
                     </div>  
               
               
               <div class="row p-2">
                     <div class="col-4">Phone</div>
                      <div class="col-6">
                        <input type="text" th:field="*{phone}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Email</div>
                      <div class="col-6">
                        <input type="email" th:field="*{email}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Company</div>
                      <div class="col-6">
                        <input type="text" th:field="*{company}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Department</div>
                      <div class="col-6">
                        <input type="text" th:field="*{department}" class="form-control">
                      </div>
                     </div>  
               
               
               <div class="row p-2">
                     <div class="col-4">Post</div>
                      <div class="col-6">
                        <input type="text" th:field="*{post}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Salary</div>
                      <div class="col-6">
                        <input type="number" th:field="*{salary}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">JoinDate</div>
                      <div class="col-6">
                        <input type="date" th:field="*{joinDate}" class="form-control">
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">Country</div>
                      <div class="col-6">
                        <input type="text" th:field="*{address.country}" class="form-control">
                      </div>
                     </div>  
               
               
                <div class="row p-2">
                     <div class="col-4">City</div>
                      <div class="col-6">
                        <input type="text" th:field="*{address.city}" class="form-control">
                      </div>
                     </div>  
               
                <div class="row p-2">
                     <div class="col-4">State</div>
                      <div class="col-6">
                       
                        <select th:field="*{address.state}" class="form-select">
                        
                          <option value="">Select</option>
                          <option value="state-1">State-1</option>
                          <option value="state-2">State-2</option>
                          <option value="state-3">State-3</option>
                          <option value="state-4">State-4</option>
                          <option value="state-5">State-5</option>
                          <option value="state-6">State-6</option>
                          <option value="state-7">State-7</option>
                         
                        </select>
                      
                      </div>
                     </div>  
               
                <div class="row p-2">
                     <div class="col-4">ZipCode</div>
                      <div class="col-6">
                        <input type="text" th:field="*{address.zip}" class="form-control">
                      </div>
                     </div>  
               
               
                <div class="row p-2">
                     <div class="col-4">Projects</div>
                      <div class="col-6">
                        <input type="checkbox" th:field="*{project}" value="project-1"> Project-1
                        <input type="checkbox" th:field="*{project}" value="project-2"> Project-2
                        <input type="checkbox" th:field="*{project}" value="project-3"> Project-3
                        <input type="checkbox" th:field="*{project}" value="project-3"> Project-3
                        <input type="checkbox" th:field="*{project}" value="project-4"> Project-4
                        <input type="checkbox" th:field="*{project}" value="project-5"> Project-5
                        <input type="checkbox" th:field="*{project}" value="project-6"> Project-6
                      </div>
                     </div>  
               
               <div class="row p-2">
                     <div class="col-4">ZipCode</div>
                      <div class="col-6">
                        <input type="submit" value="Update" class="btn btn-success">
                      </div>
                     </div>  
               
                     <input type="hidden" th:field="*{id}">
                      <input type="hidden" th:field="*{address.id}">
                 
                 
                 </form>
              
              </div>
               
               <div class="card-footer text-center">
                   <h6> copyright@2023 </h6>
               </div>
           
           </div>
        
     
     </div>

  
  

</body>
</html>