
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>emplist</title>
</head>
<body>
<div th:insert="Header.html"></div>

<div class="container-fluid">

    <table id="employeeTable">
     
     <thead>
     
      <tr>
     
        <td>Name</td>
        <td>Company</td>
        <td>Post</td>
        <td>Phone</td>
        <td>Country</td>
        <td>State</td>
        <td>Action</td>
        
     
      </tr>
     
     </thead>
    
        <tbody>
        
        <tr th:each="employee : ${elist}">
     
        <td>[[${employee.fname +' '+ employee.lname}]]</td>
        <td>[[${employee.company}]]</td>
        <td>[[${employee.post}]]</td>
        <td>[[${employee.phone}]]</td>
        <td>[[${employee.address.country}]]</td>
        <td>[[${employee.address.state}]]</td>
        <td>
            <a th:href="@{/edit(id=${employee.id})}"> <input type="submit" value="Edit"> </a>
           <a th:href="@{/delete(id=${employee.id})}"> <input type="submit" value="Delete"> </a>
        </td>
        
     
      </tr>
        
        </tbody>
        
    </table>
    </div>
    
    <script type="text/javascript">
    
    $(document).ready( function () {
        $('#employeeTable').DataTable();
    } );
    
    </script>

</body>
</html>